$font-main: "Montserrat", sans-serif;
$font-second: "Josefin Slab", serif;
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: $font-main;
  font-weight: 500;
}
body {
  background-color: #111;
}

.header {
  font-size: 5.2rem;

  margin: 3rem auto;
  text-align: center;
}
.subheader {
  margin: 1rem auto 2rem auto;
  text-align: center;
  font-size: 3.8rem;
}

.form {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breeding-tool {
  font-size: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poke-header {
  text-transform: capitalize;
}
.egg-group {
  text-transform: capitalize;
}
